body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    color: #333;
    padding-bottom: 70px;
}

h1 {
    font-size: 2.3em;
    margin-bottom: 0.5em;
    color: rgb(55, 53, 47);
}

h2 {
    font-size: 1.5em;
    margin-top: 1.5em;
    margin-bottom: 0em;
    line-height: 1.0em;
    display: flex;
    align-items: center;
    gap: 10px;
}

.last-updated {
    color: #666;
    margin-bottom: 0.5em;
}

ul {
    padding-left: 20px;
    list-style-type:circle;
}

li {
    margin-bottom: 0.5em;
    position: relative;
}

.email {
    font-weight: bold;
    color: #333;
    /* text-decoration: none; */
}

